.weather-container {
    background: url("../../../public/assets/moutain.jpg");
    background-size: cover;
    background-position: center;
}

.weather-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.bgcomponent {
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.15), rgb(225, 225, 225, 0.15));
    /* background: rgb(0, 0, 0, 0.15); */
    color: white;
    backdrop-filter: blur(100px);
}

.scrollBehaviour::-webkit-scrollbar {
    height: 8px;
}

.scrollBehaviour::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;

}

.scrollBehaviour::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 99px;

}